[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demo-meta-miner = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
AristotleDbTools = "python demo_meta_miner/AristotleDbTools.py"